/*encabezado */
.encabezado{
    background-image: url('../image/encabezado.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 135vh;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 217px;
}
.titulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-top: 2px;
    padding-bottom: 22px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 25px 25px 25px 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
}

.leftclass{
    float: left;
    position: relative;
   
}
.rigthclass{
    float: right;
    position: relative;
   
}
.titulo2{
    background-color: white;
    height: 150px; 
    text-align: center;
    display: flex;
    align-items: center;
}
.titulo2texto{
    font-size: 2.5em;
    color: black; 
    text-align: center;
   /*  padding-top: 22px;
    padding-bottom: 42px; */
    padding-right: 15%;
    padding-left: 15%;
}
/* fin encabezado*/
/*cards*/
.contectCards{
    height: 150px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}
.btn{
    background-color: white; 
    color: #be0f34; 
    border: 5px solid #be0f34;
    border-radius: 15px;
    width: 55%;
    font-size: 2.5em;
}
/**/
.cardBanner{
    background-color: none !important;
    border: none !important;
    width: 100%;
}

.centrarContent{
    margin-top: 10%;
}

.themetextos{
    color: white;
}

.imgBanner{
    width: 80px;
    height: auto;
    display: inline-block;
}


/*social*/
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgSocial{
    float: left;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 80px;
    height: auto;
}
.h1class{
    color: #be0f34; vertical-align:middle; font-size: 6.7em;
}

.tarjeta{
    margin-left: 55px; margin-right: 25px; border: none; align-items: center;
}
.h3class{
    color: white; font-size: 3.5em;
}
.textbody{
    color: white; font-size: 1.5em;
}
/*responsive tablet */
@media (min-width: 768px) {
    .encabezado{
        height: 50vh;
    }
   .banner{
       padding-top: 70px;
   }
   .titulo1{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
   }
   .titulo2{
       height: 250px;
   }
   .h1class{
        color: #be0f34; vertical-align:middle; font-size: 4.7em;
    }

    .tarjeta{
        margin-left: 25px;
    }
    .h3class{
        color: white; font-size: 2.5em;
    }
    .btn{
        font-size: 1.5em;
    }
    .imgSocial{
        width: 60px;
    }
}

/*responsive phone  */
@media (min-width: 414px) {
    .encabezado{
        height: 37vh;
    }
   .banner{
        padding-top: 27px;
   }
   .imgBanner{
       width: 60px;
   }
   .rigthclass > h2{
       font-size: 1.5em;
   }
   .titulo1{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 0.5rem;
    padding-bottom: 10px;
   }
   .h1class{
       margin-top: 10px;
        color: #be0f34; vertical-align:middle; font-size: 2.5em;
    }
   .titulo2{
       height: 150px;
   }
   .titulo2texto{
       font-size: 1.5em;
   }

    .tarjeta{
        margin-left: 25px;
        padding-top: 15px;
    }
    .h3class{
        color: white; font-size: 2em;
    }
    .textbody{
        color: white; font-size: 1.3em;
    }
    .btn{
        font-size: 1em;
    }
    .imgSocial{
        width: 60px;
    }
}